.logoSkensa {
    width: 200px;
}

.navigator {
    margin-left: -50px;
}

a {
    text-decoration: none;
    color: white;
}
a:hover {
    font-weight: bold;
}

.navbar {
    background: rgba(255,255,255,0.3);
    width: 100%;
}

.mainbg {
    width: 100%;
    height: 100vh;
    filter: brightness(50%);
}
